a{
    color:white;
    text-decoration: none;
}

.cardDetail{
    display: block;
    margin-left: 34rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
<<<<<<< HEAD
=======
    

>>>>>>> f8340b1b83c4d283ad2e9ac10a8639d802dc3b8e
}
