a{
    color:white;
    text-decoration: none;
}

.cardDetail{
    justify-content: center;
    font-family:'Josefin Sans';
    display:inline;
    text-align: center;
    align-items: center;
    padding-left:40%;
}

@media only screen and (max-width: 768px) {

    .cardDetail{
        display: flex;
        flex-wrap:wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 3rem;
    }

    .btnFinish{
        display:inline;
        justify-content: center;
        align-items: center;
        margin-right: 9px;
        margin-bottom:10px;
        
    }
}