.Card{
    width: 250px;
    height: 350px;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow:grey;
    
}
.Card .Tituloproducto {
    font-weight: bolder;
    font-family:'Lucida Sans';
    font-size: 20px;
    
}
.Card .Imgproducto {
    width: 100%;
    height: 60%;
<<<<<<< HEAD
    padding: 0;
=======
>>>>>>> 98a20a8655ea9660ebb4c2e1f04ebaf25433430a
    
   
    font-family:'Lucida Sans';
    font-size: 15px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f1683f5606cd9fe9b9749d33908a0b8ae0040a48
    margin: 0.5rem;
}
.Description {
   
    margin: 0;
<<<<<<< HEAD
=======
=======
    
    
>>>>>>> 98a20a8655ea9660ebb4c2e1f04ebaf25433430a
>>>>>>> f1683f5606cd9fe9b9749d33908a0b8ae0040a48
}
button {
    color: white;
    font-weight: bolder;
    font-family:'Lucida Sans';
    font-size: 15px;
    border-radius: 0.5rem;
    background-color: black;
    cursor: pointer;
    
    
}