body{
    justify-content: space-between;
    
}

.emptyCart{
    margin: 5rem;
    font-size: 30px;
    height: 10.1rem;
}

.btnCart{
    font-family:'Josefin Sans';
    font-weight: normal;
    height: 1.6rem;
    margin: 0.3rem;
}

.boxCarrito{
    height: 60vh;
}


.cartResume{
    font-weight:normal;
    font-family:'Josefin Sans';
    font-size: 20px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    align-items:center;
    text-align: center;
    justify-content:center;
}

@media only screen and (max-width: 768px) {

    .emptyCart{
        display:flex;
        justify-content: center;
        margin-top: 1rem;
        margin-right: 6.1rem;
        margin-left: 6.1rem;
        font-size: 22px;
        height: 8.7rem;

    }
}
