.notFound{
    font-family: 'Josefin Sans';
    font-weight: normal;
    font-size: 20px;
    margin: 6rem;
}

.btnNot{
    justify-content: right;
    color: white;
    font-family:'Josefin Sans';
    font-weight: normal;
    height: 2rem;
    margin-bottom: 7rem;

}



@media only screen and (max-width: 768px) {

    .notFound{
        
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
        
    }

}