.reposteria {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reposteriaLoad {
    margin-bottom: 300px;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';
    font-size: 24px;
}

@media only screen and (max-width: 768px) {

    .reposteria {
        justify-content: center;
    }

    .reposteriaLoad {
        margin-bottom: 500px;
    }
}