.sintacc{

    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.sinTaccLoad{
    margin-bottom: 190px;
}

@media only screen and (max-width: 768px) {

    .sintacc{
        justify-content: center;
    }

    .sinTaccLoad{
        margin-bottom: 500px;
    }
}